:root {
    --main-bg-color: #ddc5a2;
}

body {
    margin: 0px;
    padding: 0px;
}

.main {
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: var(--main-bg-color);
    align-content: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(19,auto);
}

.back {
    position: absolute;
    background-color: #f4ebdb;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(19,auto);
}
.tileBack:nth-of-type(odd) {
    background-color: #f8f1e5;
}

.tile, .tileBack {
    z-index: 10;
    width: 25px;
    height: 25px;
}

.snakeBody {
    background-color: #598234;
}

.snakeHead {
    background-color: #486824;
}

.wall {
    background-color: #805a3b;
}

.apple {
    background-color: #fa4032;
}

.keyCapturer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    color: var(--main-bg-color);
    border: 0;
}
.keyCapturer:focus {
    outline: none;
}
