:root {
    --main-bg-color: burlywood;
}

body {
    margin: 0px;
    padding: 0px;
}

.main {
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: var(--main-bg-color);
}

.game {
    display: grid;
    grid-template-columns: repeat(19,auto);
}

.tile {
    width: 25px;
    height: 25px;
}

.snakeBody {
    background-color: olivedrab;
}

.snakeHead {
    background-color: green;
}

.wall {
    background-color: sienna;
}

.apple {
    background-color: red;
}

.keyCapturer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    color: var(--main-bg-color);
    border: 0;
}
.keyCapturer:focus {
    outline: none;
}
